<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/profile.png">
                <h2 class="section-heading">정혜림(Jeong Hye Rim)</h2>
                <hr class="light">
                <p class="text-faded">
                    새로움에 항상 도전하는 개발자<br>
                    끈기 있게 파고 드는 개발자<br>
                    물음표에서 느낌표를 도출하는 개발자
                </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Skills!</a>
            </div>
        </div>
    </div>
</section>
