<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Hyelme's Develop Portfolio</h1>
            <hr>
            <p>
                If someone who you don't know brings a rough wave to your boat,<br>
                Don't be afraid. and row.<br>
                Then you will feel as if you were sailing on a very calm sea.<br>
                <br>
                No matter what happens, trust yourself and paddle harder when the water comes in.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
