<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Hyelme/ssum-diary" class="portfolio-box">
                    <img src="img/portfolio/ssum_diary.PNG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                여행을 담다, 쑴<br>
                                (2018.09 ~ 2018.12)
                            </div>
                            <div class="project-category text-faded">
                                HTML|CSS|PHP|javascrip|jQuery|Apache|MySQL 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Hyelme/ligand-reaction-predictor.git" class="portfolio-box">
                    <img src="img/portfolio/ligand_reaction_predictor.PNG" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                머신 러닝을 이용한 Ligand Reaction Predictor<br>
                                (2019.03 ~ 2019.12)
                            </div>
                            <div class="project-category text-faded">
                                Python|tensorflow|Machine Learning|Deep Learning
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Hyelme/Komenta" class="portfolio-box">
                    <img src="img/portfolio/komenta.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           <div class="project-name">
                               Komenta: 세상에 없던 인터렉티브 VOD 서비스<br>
                               (2021.01.04 ~ 2021.02.19)
                            </div>
                            <div class="project-category text-faded">
                                 HTML|SCSS|Vue.js|Spring Boot|MyBatis|MariaDB|Apache|docker
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Hyelme/Komencar" class="portfolio-box">
                    <img src="img/portfolio/komencar.gif" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           <div class="project-name">
                               Object Detection 오픈 모델을 활용한<br>
                               현대차 AI 이미지 검색 플랫폼, KomenCar<br>
                               (2021.02.22 ~ 2021.04.09)
                            </div>
                            <div class="project-category text-faded">
                                Python|Object Detection|HTML|SCSS|Vue.js|TypeScript|Anaconda
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/Hyelme/KomenCash" class="portfolio-box">
                    <img src="img/portfolio/komencash.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           <div class="project-name">
                               메타버스 형식의 초등학생 경제 교육 지원 플랫폼<br>
                               머니잼<br>
                               (2021.04.12 ~ 2021.05.28)
                            </div>
                            <div class="project-category text-faded">
                                Unity|UGUI|C#|HTML|SCSS|Vue.js|TypeScript
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                           <div class="project-name">
                               Next Project
                            </div>
                            <div class="project-category text-faded">
                                skill list
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
