<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Develop Skills</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-java wow bounceIn text-primary"></i>
                    <h3>Java</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-js wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>javascript</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-python wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Python</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-html5 wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>HTML</h3>
                </div>
            </div>
        </div>
    </div>
</section>
